.container {
  width:  350px;
  margin: 80px auto 20px auto;
}

.notes {
  width: 100%;
}

.mat-column-delete {
  text-align: right;
  justify-content: flex-end;
}

.note__priority_high {
  color: crimson;
}

.note__priority_medium  {
  color: gold;
}

.note__priority_low {
  color: lightgreen;
}

.note__priority_none {
  color:gray;
}

.mat-row:hover {
  background-color: gainsboro;
  cursor: pointer;
}
