<div class="container">
    <mat-card>
        <form class="form" [formGroup]="form" (ngSubmit)="login()">
            <mat-form-field class="form__element">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email" required>
            </mat-form-field>
            <mat-form-field class="form__element">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <div class="form__element">
                <button mat-raised-button color="primary" type="submit" class="form__element">Log in</button>
            </div>
            <a routerLink="/users/password/reset">Forgot password?</a>
        </form>
    </mat-card>
</div>
