html,
body {
    height: 100%;
}

body {
    background-color: whitesmoke;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.form {
    box-sizing: border-box;
    width: 100%;
    padding: 5%;
}

.form__element {
    width: 100%;
    margin-bottom: 10px;
}

.form__title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

.form__subtitle {
    width: 100%;
    text-align: center;
}

.link-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}
