<div class="container">
    <mat-card>
        <form class="form" [formGroup]="form" (ngSubmit)="updatePassword()">
            <mat-form-field class="form__element">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field class="form__element">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="matchingPassword" required>
            </mat-form-field>
            <button mat-raised-button class="form__element" color="primary" type="submit">Update password</button>
        </form>
    </mat-card>
</div>