<div class="container">
    <mat-card>
        <div *ngIf="!isCompleted">
            <form class="form" [formGroup]="form" (ngSubmit)="updatePassword()">
                <mat-form-field class="form__element">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
                <mat-form-field class="form__element">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" formControlName="matchingPassword" required>
                </mat-form-field>
                <button mat-raised-button class="form__element" color="primary" type="submit">Update password</button>
            </form>
        </div>
        <div *ngIf="isCompleted">
            <div class="form">
                <div class="form__title">
                    <mat-card-title>Password updated</mat-card-title>
                </div>
                <div class="form__subtitle">
                    <mat-card-subtitle class="form__subtitle">
                        Your password was updated successfully. Please log in using the new password.
                    </mat-card-subtitle>
                </div>
                <a mat-raised-button color="primary" class="form__element" routerLink="/users/login">Log in</a>
            </div>
        </div>
    </mat-card>
</div>
